.theme-default-content {

  // fix: code block overflow of md-enhance in default theme
  @media (max-width: 419px) {
    div.hint-container div[class*=language-] {
      margin: 0.85rem -1rem;
    }

    .tab-item div[class*=language-] {
      margin: 0.85rem -0.8rem;
    }
  }

  // optimize: code
  code {
    padding: 0.25rem 0.15rem;
  }

  p {

    // optimize: image center
    >img {
      display: block;
      margin: 0 auto;
    }

    // optimize: image link icon
    >a>img+span {
      display: none;
    }
  }

  // optimize: badge
  .badge {
    vertical-align: inherit;
  }

  // fix: footnote line height
  hr.footnotes-sep {
    margin-top: 2.2rem;
  }

  // fix: footnote cover content
  section.footnotes .footnote-item {
    margin: 0;
    padding: 0;
  }
}

// fix: copy katex code when selected
.katex {
  * {
    user-select: none;
  }

  annotation {
    user-select: all;
  }
}

@import 'print.scss';