// optimize: print style
@media print {
  :root {
    --c-text: #000;
  }

  main.page {
    padding: 0;
  }

  header,
  nav.page-nav,
  .line-numbers-mode>.line-numbers {
    display: none;
  }

  // fix: code block will hide when print
  div[class*=language-] {
    &.line-numbers-mode {
      &::after {
        display: none !important;
      }

      >pre {
        margin: 0 !important;
      }
    }

    >pre {
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
      padding: 1rem 1.5rem !important;
    }
  }

  // fix: details will hide when print
  details[open].hint-container.details {
    display: block !important;
  }

  .code-tabs {

    // fix: code-tabs-nav will hide when print
    .code-tabs-nav {
      display: none;
    }

    // fix: border-radius will same as default theme
    .code-tab div[class*=language-] {
      border-radius: 6px;
    }
  }

  // fix: katex will hide when overflow
  .katex-display>.katex {
    white-space: pre-wrap !important;
  }

  // hide mermaid actions
  .mermaid-actions {
    display: none;
  }
}